<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="personal.dongxia.android.multimeter">

    <application
        android:name=".MultimeterApplication"
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".page.PageTestActivity"></activity>
        <activity android:name=".databinding.DataBindingTestActivity" />
        <activity
            android:name=".viewmodel.ViewModelTestActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".lifecycle.LifecycleTestActivity" />
        <activity android:name=".CameraActivity" />
        <activity
            android:name=".CameraActivity2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".PullActivity" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".SecondActivity"
            android:taskAffinity="com.dongxia.test.launcher" />

        <activity android:name=".ip.IpActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".SecondLauncherActivity"
            android:enabled="true"
            android:exported="true"
            android:targetActivity=".SecondActivity"
            android:taskAffinity="com.dongxia.test.launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="UCSDKAppKey"
            android:value="${UCSDKAppKey}" />

        <provider
            android:name=".TestContentProvider"
            android:authorities="personal.dongxia.provider.test"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-feature android:name="android.hardware.camera2" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>